<div class="container top-30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscador de artistas</label>
      <input
      [(ngModel)]="termino"
      (keyup) = "buscarArtista()"
      class="form-control"
      type="text" name="termino" value="" placeholder="Buscar por artista....">
      <hr>
    </div>
    <div class="col-md-9">
      <ul>
        <div class="row">
          <div class="col-md-3 text-center puntero"
                [routerLink] = "['/artista',artista.id]"
                *ngFor="let artista of _spotifyServices.artistas">
            <img [src]="artista.images | sinfoto " class="img-fluid  img-thumbnail" alt="artista.name">
            <p>
              {{ artista.name }}
            </p>
            <hr>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
